/*VARIABLES*/
/*Colors*/
.gold {
  background-color: #e0ba4c;
}
.blue {
  background-color: #00a6da;
}
/*font sizes*/
/*font sizes on smaller screens*/
/*font sizes on mobile screens*/
/*GLOBAL RULES*/
.test {
  background-color: blue;
  height: 50px;
}
body .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
.float-right {
  float: right;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.border-box {
  box-sizing: border-box;
}
/*BUTTONS*/
button {
  border: 1px solid lightgrey;
}
button.flat-button {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
  padding: 14px 26px;
  border: none;
  color: white;
  letter-spacing: .034em;
}
button.short {
  width: auto;
  text-align: center;
}
.gold-faded-button,
.gold-button {
  background-color: #e0ba4c;
}
/*TEXT*/
* {
  font-family: 'Noto Sans', sans-serif;
}
nav .nav li .nav-font {
  color: #152b83;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.large-text {
  font-size: 1.3em;
  font-weight: 700;
  letter-spacing: .08em;
}
.largest-text {
  font-size: 2em;
  letter-spacing: .08em;
  font-weight: 700;
}
.main-text {
  font-size: 1.3em;
}
.small-bold-text {
  font-size: 1.2em;
  font-weight: 700;
  letter-spacing: .04em;
}
.header-main {
  font-size: 2.4em;
  font-weight: 700;
  letter-spacing: .01em;
}
.small-text {
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-size: 0.85em;
  line-height: 1.42857143;
  font-weight: normal;
}
.submission-form-header {
  text-align: center;
  font-weight: 700;
}
/*FORMS*/
.form-group .form-control {
  border-radius: 0px;
  margin-bottom: 8px;
}
.form-group select.form-control {
  background-color: #ddd;
}
.form-group .checkbox-wrapper {
  background-color: red;
}
.form-group button {
  padding: 3px 0px;
  width: 100%;
}
/*** BODY ***/
header p {
  margin: 0px;
  padding: 0px;
}
header .navbar-default {
  border: 0px;
  border-color: transparent;
  background-color: #e0ba4c;
}
header .navbar-default .active {
  background-color: #fdfdfd;
}
header .navbar-default .logo {
  width: 337px;
  height: 92px;
  margin: 10px 0px;
  max-width: 421px;
}
header .navbar-default.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  height: auto;
  float: none;
}
header .navbar-default.navbar ul.navbar-nav {
  float: none;
}
header .navbar-default.navbar ul li {
  display: inline-block;
  float: none;
}
header .navbar-default.first-nav {
  background-color: #330085;
  color: white;
}
header .navbar-default.second-nav {
  text-align: center;
  background-image: -webkit-linear-gradient(#ebdf8a, #e0ba4c);
  background-image: -o-linear-gradient(#ebdf8a, #e0ba4c);
  background-image: linear-gradient(#ebdf8a, #e0ba4c);
}
header .navbar-default.first-nav,
header .navbar-default.second-nav {
  z-index: 2;
}
header .nav-tabs {
  border: 0px;
}
header .navbar {
  height: auto;
}
header .number-section {
  height: 105px;
}
header .number-section .bottom-align-text {
  position: absolute;
  bottom: 0px;
}
header .number-section .bottom-align-text p:first-child {
  position: relative;
  top: 6px;
}
main {
  padding-top: 12px;
  background-image: url(../img/meeting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -61px;
}
main .header-main-text-container {
  text-align: right;
  margin-bottom: 12px;
}
main .header-main-text-container h2:first-child {
  margin-bottom: 6px;
}
main .header-main-text-container h3:last-child {
  margin-top: 6px;
  padding-left: 14%;
}
main .header-main-text-container button {
  letter-spacing: .05em;
  font-size: .9em;
  padding: 5px 30px;
  background: #e0ba4c;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Fx 3.6 to 15 */
  /* Standard syntax */
  background: linear-gradient(to right, #e0ba4c, #ebdf8a, #e0ba4c);
}
main .submission-form-container {
  background-color: #ddd;
  padding: 12px;
}
main .submission-form-container .form-check-label {
  margin-bottom: 12px;
}
main .submission-form-container .form-check-label input {
  float: left;
  margin-top: 5px;
}
main .submission-form-container .form-check-label div {
  margin-left: 25px;
}
main .main-section-top {
  border-bottom: 1px #ddd solid;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
main .main-message-section {
  padding: 14px;
  background-color: #fdfdfd;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 10%);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 10%);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff 10%);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff 10%);
  /* Standard syntax (must be last) */
}
main .main-message-section p:first-of-type {
  margin-bottom: 12px;
}
main .main-message-section iframe {
  width: 61%;
  height: 216px;
  margin-bottom: 12px;
}
main .main-message-section .main-message-img {
  border: 6px solid gold;
  width: 390px;
  height: 390px;
  border-radius: 50%;
  position: absolute;
  top: -11%;
  right: -13%;
  z-index: 0;
}
main .main-message-section ul {
  list-style: none;
  padding: 0;
  margin: 0 0 12px 0;
}
main .main-message-section li {
  padding-left: 1em;
  text-indent: -0.7em;
}
main .main-message-section li::before {
  content: "• ";
  color: #e0ba4c;
}
main .main-message-section .main-message-img {
  background-image: url(../img/meeting.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -68px -168%;
}
main .main-message-section .main-message-img-footprint {
  width: 390px;
  height: 390px;
  float: right;
  shape-outside: circle(50% at 81% -31%);
}
footer {
  background-color: #330085;
  padding: 12px 0px;
  color: #fdfdfd;
}
footer p {
  margin: 0px;
  color: #fdfdfd;
}
footer p.small-bold-text {
  color: #e0ba4c;
}
footer p a {
  color: #e0ba4c;
}
footer .footer-left-section,
footer .footer-middle-section {
  border-right: 1px solid #fdfdfd;
}
footer .footer-left-section p {
  margin-bottom: 24px;
}
footer .footer-left-section img {
  margin-bottom: 13px;
  margin-top: 22px;
}
/*MEDIA QUERIES*/
/*Medium Screen -- 1274px wide and below*/
@media only screen and (max-width: 1274px) {
  header .number-section .largest-text {
    font-size: 1.5em;
  }
}
/*Small Screen -- 991px wide and below*/
@media only screen and (max-width: 991px) {
  header .navbar-default.first-nav {
    padding: 12px;
  }
}
/*Mobile Screen -- 767px wide and below*/
@media only screen and (max-width: 767px) {
  header .logo-container {
    text-align: center;
  }
  header .number-section {
    text-align: center;
    height: auto;
  }
  header .number-section .bottom-align-text {
    position: static;
  }
  header .number-section .large-text {
    font-size: 1.2em;
  }
  header .number-section .largest-text {
    font-size: 1.2em;
  }
}
