/*VARIABLES*/
@full-page-padding: inherit 100px; 
@site-spacing: 12px;
@site-spacing-double: 24px;
@smaller-spacing: 6px;
@larger-spacing: 14px;


/*Colors*/
@site-gold: #e0ba4c;
@site-lite-gold: #ebdf8a;
@site-white: #fdfdfd;
@site-grey: #ddd;
@site-purple: #330085;
@site-blue: #00a6da;

.gold {
	background-color: @site-gold;
}

.blue {
	background-color: @site-blue;
}

/*font sizes*/
@large-text: 1.3em;
@largest-text: 2em;
@main-text-size: 1.3em;
@small-bold-text-size: 1.2em;
@header-main-size: 2.4em;
@small-text-size: .85em;

/*font sizes on smaller screens*/
@med-screen-size-largest-text: 1.5em;

/*font sizes on mobile screens*/
@mobile-screen-size-largest-text: 1.2em;
@mobile-screen-size-large-text: 1.2em;


/*GLOBAL RULES*/
.test {
	background-color: blue;
	height: 50px;
}

body {
	.container-fluid {
		padding-right: 0px;
		padding-left: 0px;
	}
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
}

.float-right {
	float: right;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

.border-box {
	box-sizing: border-box;
}


/*BUTTONS*/
button {
	border: 1px solid lightgrey;
	&.flat-button {
		display: block;
		width: 100%;
		margin-bottom: 30px;
		text-align: left;
		padding: 14px 26px;
		border: none;
		color: white;
		letter-spacing: .034em;
	}
	&.short {
		width: auto;
		text-align: center;
	}
}

.gold-faded-button, .gold-button {
	background-color: @site-gold;
}



/*TEXT*/
* {
	font-family: 'Noto Sans', sans-serif;
}

nav {
	.nav {
		li {
			.nav-font {
				color: #152b83;
				font-weight: 700;
				letter-spacing: 0.06em;
			}
		}
	}
}

.large-text {
	font-size: @large-text;
    font-weight: 700;
    letter-spacing: .08em;
}
.largest-text {
	font-size: @largest-text;
	letter-spacing: .08em;
	font-weight: 700;
}
.main-text {
	font-size: @main-text-size;
}
.small-bold-text {
	font-size: @small-bold-text-size;
	font-weight: 700;
	letter-spacing: .04em;
}
.header-main {
	font-size: @header-main-size;
	font-weight: 700;
	letter-spacing: .01em;
}
.small-text {
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	font-size: @small-text-size;
	line-height: 1.42857143;
	font-weight: normal;
}

.submission-form-header {
	text-align: center;
	font-weight: 700;
}

/*FORMS*/
.form-group{
	.form-control {
		border-radius: 0px;
		margin-bottom: 8px;
	}
	select.form-control {
		background-color: #ddd;
	}
	.checkbox-wrapper {
		background-color: red;
	}
	button {
		padding: 3px 0px;
		width: 100%;
	}
}




/*** BODY ***/
header {
	p {
		margin: 0px;
		padding: 0px;
	}
	.navbar-default {
		border: 0px;
		border-color: transparent;
		background-color: @site-gold;
		.active {
			background-color: @site-white;
		}
		.logo {
			width: 337px;
			height: 92px;
			margin: 10px 0px;
			max-width: 421px;
		}
		&.navbar {
			border-radius: 0px;
			margin-bottom: 0px;
			height: auto;
			float: none;
			ul {
				&.navbar-nav {
					float: none;
				}
				li {
					display: inline-block;
					float: none;
				}
			}
		}
		&.first-nav {
			background-color: @site-purple;
			color: white;
		}
		&.second-nav {
			text-align: center;
			background-image:
				-webkit-linear-gradient(@site-lite-gold, @site-gold);
			background-image:
				-o-linear-gradient(@site-lite-gold, @site-gold);
			background-image:
				linear-gradient(@site-lite-gold, @site-gold);;
		}
		&.first-nav, &.second-nav {
			z-index: 2;
		}
	}
	.nav-tabs {
		border: 0px;
	}
	.navbar {
		height: auto;
	}
	.number-section {
		height: 105px;
		.bottom-align-text {
			position: absolute;
			bottom: 0px;
			p:first-child {
				position: relative;
				top: 6px;
			}
		}
	}
}


main {
	padding-top: @site-spacing;
	background-image: url(../img/meeting.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0px -61px;
	.header-main-text-container {
		text-align: right;
		margin-bottom: @site-spacing;
		h2:first-child{
			margin-bottom: @smaller-spacing;
		}
		h3:last-child {
			margin-top: @smaller-spacing;
			padding-left: 14%;
		}
		button {
			letter-spacing: .05em;
			font-size: .9em;
			padding: 5px 30px;
			background: #e0ba4c; /* For browsers that do not support gradients */
			/* For Safari 5.1 to 6.0 */
			background: linear-gradient(to right, #e0ba4c, #ebdf8a, #e0ba4c);
			/* For Opera 11.1 to 12.0 */
			background: linear-gradient(to right, #e0ba4c, #ebdf8a, #e0ba4c);
			/* For Fx 3.6 to 15 */
			background: linear-gradient(to right, #e0ba4c, #ebdf8a, #e0ba4c);
			/* Standard syntax */
			background: linear-gradient(to right, #e0ba4c, #ebdf8a, #e0ba4c);
		}
	}
	.submission-form-container {
		background-color: @site-grey;
		padding: @site-spacing;
		.form-check-label {
			margin-bottom: @site-spacing;
			input {
				float: left; 
				margin-top: 5px;
			}
			div {
				margin-left: 25px;
			}
		}
	}
	.main-section-top{
		border-bottom: 1px #ddd solid;
		margin-bottom: @site-spacing;
		padding-bottom: 12px;
	}
	.main-message-section {
		p:first-of-type {
			margin-bottom: 12px;
		}
		padding: @larger-spacing;
		background-color: @site-white;
		background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 10%); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 10%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1) 10%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255, 1) 10%); /* Standard syntax (must be last) */
		iframe {
			width: 61%;
			height: 216px;
			margin-bottom: 12px;
		}
		.main-message-img {
			border: 6px solid gold;
			width: 390px;
			height: 390px;
			border-radius: 50%;
			position: absolute;
			top: -11%;
			right: -13%;
			z-index: 0;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0 0 @site-spacing 0;
		}

		li {
			padding-left: 1em; 
			text-indent: -.7em;
		}

		li::before {
			content: "• ";
			color: @site-gold;
		}
		.main-message-img {
			background-image: url(../img/meeting.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: -68px -168%;
		}
		.main-message-img-footprint {
			width: 390px;
			height: 390px;
			float: right;
			shape-outside: circle(50% at 81% -31%);
		}
	}
}

footer {
	background-color: @site-purple;
	padding: @site-spacing 0px;
	color: @site-white;
	p {
		margin: 0px;
		color: @site-white;
		&.small-bold-text {
			color: @site-gold;
		}
		a {
			color: @site-gold;
		}
	}
	.footer-left-section, .footer-middle-section {
		border-right: 1px solid @site-white;
	}
	.footer-left-section{
		p {
			margin-bottom: @site-spacing-double;
		}
		img {
			margin-bottom: 13px;
			margin-top: 22px;
		}
	}
}


/*MEDIA QUERIES*/

/*Medium Screen -- 1274px wide and below*/
@media only screen and (max-width: 1274px) {
	header {
		.number-section {
			.largest-text {
				font-size: @med-screen-size-largest-text;
			}
		}
	}
}

/*Small Screen -- 991px wide and below*/
@media only screen and (max-width: 991px) {
	header {
		.navbar-default {
			&.first-nav {
				padding: @site-spacing;
			}
		}
	}
}

/*Mobile Screen -- 767px wide and below*/
@media only screen and (max-width: 767px) {
	header {
		.logo-container {
			text-align: center;
		}
		.number-section {
			text-align: center;
			height: auto;
			.bottom-align-text {
				position: static;
			}
			.large-text {
				font-size: @mobile-screen-size-large-text;
			}
			.largest-text {
				font-size: @mobile-screen-size-largest-text;
			}
		}
	}
}


